.form_section {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	line-height: 1.2;
}
.form_section h1 {
	font-size: 2rem;
}
.form_section h2 {
	color: var(--color-green);
	font-size: 2rem;
	margin-bottom: 0;
}
.form_section p {
	font-size: 1.5rem;
}

.form_secure {
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px solid var(--color-dark);
	background: white;
	border-radius: 10px;
	padding: 1rem;
	font-size: 1rem;
}
.form_secure img {
	width:  24px;
	height: 24px;
	margin-right: 10px;
}