.error {
	position: fixed;
	z-index: 100220;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 30rem;
	margin: 1rem auto;
	padding: 1rem;
	background-color: #f4c7c7;
	color: #3e0505;
	border-radius: 5px;

}

.error-text {
	color: rgb(226, 48, 48);
	font-weight: 700;
}

.error-peragraf {
	color: #514b3b;
	font-weight: 400;
}

.modal .error {
	margin: auto;
}

.overlay {
	position: fixed;
	/* Sit on top of the page content */
	display: block;
	/* Hidden by default */
	width: 100%;
	/* Full width (cover the whole page) */
	height: 100%;
	/* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	/* Black background with opacity */
	z-index: 2;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;
	/* Add a pointer on hover */
}
