.gender {
	display: flex;
	justify-content: center;
	gap:2rem;
}
.gender_item {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 17.5rem;
	width: 100%;

	border: 2.2px solid var(--color-green);
	border-radius: 0.625rem;
	cursor: pointer;
}

.gender__image img {
	height: 100%;
	object-fit: cover;
}
.gender_item h3 {
	background: var(--color-green);
	color: var(--color-light);
	width: 101%;
	margin-bottom: 0;
	border: 2px solid var(--color-green);
	border-end-end-radius: 0.625rem;
}